html{
	-webkit-text-size-adjust: none;
}

body{
	text-align: center;
}

p{
	width: 100%;
	margin: 0 auto;
	line-height: 200%;
}
h1{
	color:#800000;
	font-size: 1.5em;
	line-height: 250%;
}
h3{
	color:#000000;
	font-size: 1.2em;
	line-height: 200%;
	margin-top: 0;
	margin-bottom: 0.5em;
}

div.box{
	padding: 1em;
	border-style: solid;
	border-color: gray;
}


button#btn_shuffle{
	width: 10em;
	background-color: skyblue;
	color: #FFFFFF;
	border: none;
	padding: 0.5em;
	font-size: 1.2em;
	margin: 0.5em;
}

input[id="cb_original"] + label , input[id="cb_fareast"] + label , input[id="cb_witch"] + label, input[id="cb_order_expansion"] + label{
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	border: 0.1em solid lavender;
	cursor: pointer;
}
input[id="cb_original"]:checked + label ,input[id="cb_fareast"]:checked + label , input[id="cb_witch"]:checked + label, input[id="cb_order_expansion"]:checked + label {
	background-color: gold;
}
input[id="cb_original"], input[id="cb_fareast"], input[id="cb_witch"], input[id="cb_order_expansion"]{
	display: none;
}

table{
	width: 80%;
	margin: 0 auto;
	margin-top: 1em;
	padding: 3em;
	border: solid gray;
	border-collapse: collapse;
}
th, td{
	padding: 0.5em;
	border: solid gray;
}